.hero
  width: 100%
  background: $dark
  height: calc(100vh - 5.8rem)
  max-height: 707px
  color: $light
  display: flex
  flex-direction: row
  justify-content: center
  &__container
    width: 100%
    padding-top: 1rem
    background-origin: content-box
    background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba($dark, .7)
  &__content
    padding-bottom: 2.5rem
    position: relative
    max-width: 47.587rem
    margin-left: 1.5rem
  &__text
    font-family: 'Futura Book', serif
    font-size: 1.571rem
    max-width: 35.714rem
    line-height: 140%
    margin: 0
    margin-bottom: 3.1rem
  &__button
    margin-right: 1.2rem
  &__instagram
    max-width: 5.714rem
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    left: 0
    bottom: 0
    min-width: 17.643rem
    min-height: 6.929rem
    margin-bottom: -3.48rem
    margin-left: -5.714rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    color: $light
    &::after
      content: ''
      width: 30px
      height: 30px
      border-radius: 50%
      border: 2px solid $primary
      background: url('../img/ico/arrow-down.svg') no-repeat center
      background-color: transparent
      margin-left: 12px


.instagram
  background-color: $dark
  display: flex
  align-items: center
  justify-content: center
  &__link
    display: flex
    align-items: center
    padding-right: 7rem
    transform: rotate(90deg)
    text-transform: uppercase
    color: $primary
    text-decoration: none
    line-height: 0.8
    &::after
      content: ''
      width: 51px
      height: 1px
      background-color: $primary
      margin-left: 8px


.title
  margin-top: 0
  margin-bottom: 1.15rem
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem
  line-height: 131%
  &--primary
    color: $primary
