.designs
  width: 100%
  background-color: $light
  display: flex
  flex-direction: row
  justify-content: center
  padding-bottom: 22rem
  &__container
    display: flex
    flex-direction: column
    align-items: center

  &__section-title
    margin-bottom: 2.214rem


.card
  &__image
    max-width: 392px
    max-height: 421px
    &--mobile
      display: none
  &__list
    padding-left: 1.2rem
  &__item
    font-family: 'Futura Book', sans-serif
    font-size: 1.071rem
    font-weight: normal
    color: $gray
    margin-bottom: 0.6rem
  &__pricetag
    display: inline-block
    padding: 1rem 0 1rem 2.357rem
    text-align: left
    position: absolute
    left: 0.15rem
    bottom: -1.7rem
    width: 16.286rem
    height: 3.857rem
    background-color: $primary
    color: $light
    font-family: 'Yeseva One', sans-serif
    font-size: 1.286rem
    text-transform: uppercase
    font-weight: normal
